fastapi
uvicorn
pyjwt
pycryptodome
pydantic-sqlalchemy
sqlalchemy
psycopg2-binary
aiofiles
humanize


# ssh root@vps65488.inmotionhosting.com
# tar -zcvf dist.tar.gz dist/
# scp dist.tar.gz root@vps65488.inmotionhosting.com:/home/jirazabal/repos/baby_tracker_fe

